body{
    background-color: antiquewhite;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.mysection{
    background-color: whitesmoke;
    height: 300px;
    width: 300px;

}
.maincontent{
    display:flex;
    margin-top: 20%;
    margin-bottom: 2%;
    width: 100%;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}
button{
    display:flex;
    background-color: rgb(74, 54, 209);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    float: left;
}
button:hover{
    background-color: rgb(6, 22, 237);
    box-shadow: 0 0 10px rgb(56, 55, 55);
}
